*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    text-align: center;
    font-family: "Helvetica", sans-serif;
    background-color: #f4f4f4;
    width: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.btn {
    background-color: #333;
    color: #f4f4f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px auto;
    text-align: center;
}

/* HEADER STYLES */
.header {
    padding: 20px 0;
    text-align: center;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}
.heading {
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 5px;
}
.heading h2 {
    font-size: 1.2rem;
}
.nav {
    padding-top: 10px;
    margin-top: 5px;
}
.links {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.links a {
    color: #fff;
}
.links a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* Main Content Styles */
.container {
    width: 95%;
    margin: 140px auto 0px;
    padding-top: 50px;
}

.categories, .posts {
    text-align: left;
    margin-bottom: 15px;
}
.post {
    margin: 20px 0;
}
.post .spaceout, .post .actions {
    display: flex;
    justify-content: space-between;
}
.post .actions {
    margin: 10px 0;
}
.post small {
    color: #558;
}
.post .left {
    text-align: left;
}
.post .right {
    text-align: right;
}
.post p {
    text-align: justify;
    line-height: 24px;
}
.btn--large {
    padding: 10px 30px;
    width: 70%;
}
.btn--delete {
    padding: 5px 10px;
    background-color: rgb(139, 3, 3);
}
.btn--small {
    padding: 5px 10px;
    background-color: rgb(4, 44, 4);
    color: #f4f4f4;
}

/* FOOTER STYLES */
.footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
    width: 100%;
    margin-top: 20px;
}
@media all and (max-width: 780px) {
    .heading h2 {
        font-size: 1.5rem;
    }
    .container {
        width: 80%;
    }
}